{% extends "common/base.html" %}
{% load core %}
{# Displays admin dashboard for game tracker app #}

{% block html_body %}
  {# Title/Nav #}
  {% open_box %}
    <h2>League: <u>{{ league.name }}</u></h2>
    <div class="text-center">
      <a href="{% url 'gametracker:league_manager' %}">League Manager</a> |
      <a href="{% url 'gametracker:league_view' league.id %}{{league.name }}">View</a>
    </div>
  {% close_box %}
  
  {# Field editor #}
  {% open_box %}
    <h2>Editor</h2>
    
    <form class="form-horizontal" role="form"
      action="{% url 'gametracker:edit_league' %}" method="post"
    >{% csrf_token %}
      <div class="form-group">
        {# Name field #}
        <label class="col-sm-3 control-label">Name</label>
        <div class="col-sm-8">
          <input class="form-control" type="text" name="name" value="{{league.name}}">
        </div>

        {# High wins field #}
        <label class="col-sm-3 control-label">High Score Wins?</label>
        <div class="col-sm-8">
          <input class="form-control" type="checkbox"
              id="add_hiwins" name="hiwins" checked="1">
        </div>
      </div>
      <input type="hidden" name="leagueid" value="{{league.id}}">
      <button type="submit" class="btn btn-primary pull-right">Update</button>
    </form>
  {% close_box %}

  {# Seasons list #}
  {% open_box %}
    <h2><a href="{% url 'gametracker:season_manager' league.id %}">Seasons</a></h2>

    <table class="table table-striped">
      <tr>
        <th>Season</th>
        <th>URL</th>
      </tr>
      {% for season in seasons %}
      <tr>
        <td>{{ season.name }}</td>
        <td>{{ season.edit_link | safe }} | {{ season.view_link | safe }}</td>
      </tr>
      {% endfor %}
    </table>
  {% close_box %}

  {# Teams list #}
  {% open_box %}
    <h2><a href="{% url 'gametracker:team_manager' league.id %}">Teams</a></h2>
    
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>URL</th>
      </tr>
      {% for team in teams %}
      <tr>
        <td>{{ team.home }} {{ team.longName }}</td>
        <td>{{ team.edit_link | safe }} | {{ team.view_link | safe }}</td>
      </tr>
      {% endfor %}
    </table>
  {% close_box %}

  {# Delete League #}
  {% open_box %}
    <h2>Delete league</h2>
    <form class="form-horizontal" role="form"
        action="{% url 'gametracker:delete_league' %}" method="post"
    >{% csrf_token %}
      <input type="hidden" name="leagueid" value="{{ league.id }}">
      <button onclick="return confirm('Delete league?')"
          type="submit" class="btn btn-primary pull-right">
        Delete
      </button>
    </form>
  {% close_box %}
{% endblock %}
